@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.hero {
    display: flex;
    flex-direction: column;
    /* border: 1px solid magenta; */
    background-color: black;
    /* padding: 1.4em; */
    gap: 0.5em;
}

.artist-title {
    align-self: flex-start;
    color: white;
    /* border: 1px solid green; */

}

.artist-img {
    /* border: 1px solid orange; */
    border-radius: 8px;
    width: 60%;
    align-self: center;
    margin-bottom: 1em;
}

.artist-description {
    align-self: center;
    color: grey;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.artist-description > p {
    padding: 1em;
    background-color: #d3d3d393;
    border-radius: 10px;
    text-align: center;
}

.attention-btn {
    cursor: pointer;
    align-self: center;
}

.random-quote {
    background-color: #d3d3d393; 
    font-size: .6rem;
    /* padding: 0.05em; */
    line-height: 1.6;
}

@media screen and (min-width: 500px) {
    .hero {
      max-width: 350px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
    .artist-description {
        color: aliceblue;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
  }