@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.about-me {
    padding: 1em;
}

.hero {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.artist-title {
    margin-top: 0.8em;
    font-family: 'Borel', cursive;
    color: whitesmoke;

}

.artist-img {
    border-radius: 8px;
    width: 70%;
    align-self: center;
}

.artist-description {
    color: aliceblue;
    margin: 0;
    line-height: 1.6;
}