@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.main-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: -29em;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
}

.artist-logo {
    font-size: 3.5rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.3;
    color: white;
    text-align: center;
    font-family: 'Monoton', cursive;
    cursor: pointer;
}

.highlight-logo {
    display: inline;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.507);
}

.social-media {
    font-size: 1.69rem;
    display: flex;
    justify-content: space-around;
}

.social-media a {
    color: rgba(255, 255, 255, 0.507);
    display: block;
}

.social-media a:hover {
    border-bottom: 2px solid white;
}

.artist-logo:hover,
.artist-logo:focus,
.social-media a:hover,
.social-media a:focus,
.highlight-logo:hover,
.highlight-logo:focus {
    color: white;
}