@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.home {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.main-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid magenta; */
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
}

.artist-logo {
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.507);
    /* border: 1px solid salmon; */
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-family: 'Monoton', cursive;
}


.social-media {
    width: 80%;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.social-media a {
    color: rgba(255, 255, 255, 0.507);
}

.artist-logo:hover,
.artist-logo:focus,
.social-media a:hover,
.social-media a:focus {
    color: white;
}