.wrapper {
    width: 100%;
    background-color: #d3d3d361;
    /* border: 1px solid red; */
}

.wrapper-title {
    color: white;
}

.merch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
}

