.wrapper {
    width: 100%;
    padding: 1em;
    background-color: #d3d3d361;
    margin: 0;
    /* border: 1px solid red; */
}

.merch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

