@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.album-name {
    color: white;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: large;
    letter-spacing: 3px;
}