@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.music {
    /* border: 1px solid magenta; */
    display: flex;
    /* padding: 1em; */
    max-width: 450px;
}

.carousel-music {
    width: 100%;
    align-self: center;
    /* border: 1px solid aqua; */
}

.album-name {
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: end;
    font-family: 'Audiowide', cursive;
    font-size: large;
    letter-spacing: 3px;
    line-height: 1.6;
}