.header {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: .8em;
    background-color: #000000bc;
}

.navbar {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

.navbar a {
    display: block;
    /* border: 1px solid green; */
    border-radius: 10em;
    padding: 1em;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.486);
}

.navbar a:hover,
.navbar a:focus {
    color: white;
}