.header {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: #000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar a {
    padding: .5em 1em;
    color: rgba(255, 255, 255, 0.486);
    text-decoration: none;
}

.navbar a:hover,
.navbar a:focus {
    color: white;
}